# ignore output files
esmvaltool_output
output_runs_of_interest

# vscode config
.vscode/

# ignore slurm output
*.out

# tars
*.tar.gz

# pngs
*.png

data_for_peter/
weighting_data/
observations/
shape_files/
